.article{
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 2px;
	box-shadow: 1px 1px 6px 3px rgba(0,0,0,0);
	text-align: center;
	width: 300px;
	height: 500px;
}

.blog{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

.article img{
	width: 80%;
	height: 70%;
	object-fit: cover;
}